{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}



<section class="login section-padding">
<div class="container">
<div class="row justify-content-center">
  <div class="login-form login-area">
    <h3>
      Вход
    </h3>
    <form role="form" method="post" class="login-form" action="{% url 'account_login' %}">
      {% csrf_token %}
      <div class="form-group">
        <div class="input-icon">
          <i class="lni-user"></i>
          <input type="text"class="form-control"  name="login" placeholder="Логин" autofocus="autofocus" maxlength="150" required="" id="id_login">
        </div>
      </div>
      <div class="form-group">
        <div class="input-icon">
          <i class="lni-lock"></i>
          <input type="password" class="form-control" name="password" placeholder="Пароль" required="" id="id_password">
        </div>
      </div>
      <div class="form-group mb-3">
        <div class="custom-control custom-checkbox">
            <input type="checkbox"  class="custom-control-input" name="remember" id="id_remember">
          <label class="custom-control-label" for="id_remember">Запомнить меня</label>
        </div>
        <a class="forgetpassword" href="{% url 'account_reset_password' %}">Forgot Password?</a>
      </div>
      <div class="text-center">
        <button class="btn btn-common log-btn" type="submit" >Submit</button>
      </div>
    </form>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
  </div>
</div>
</div>
</section>
{% endblock %}
