{% extends 'base.html' %}
{% load static thumbnail advertisements_tags %}


{% block content %}
{% get_search_form %}

<section class="featured section-padding">
<div class="container">
    {% if object_list %}
<h1 class="section-title">Новые обьявления</h1>
    {% else %}
    <h1 class="section-title">Нет обьявлений</h1>
    {% endif %}

<div class="row">
{% for post in object_list %}
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
 <div class="featured-box">
 <figure>
   <a href="#"><img class="img-fluid img-prew" src="{{ post.image|thumbnail_url:'ad_preview' }}" alt=""></a>
 </figure>
<div class="feature-content featured-box">
<div class="product">
<a href="#">{{ post.category }}</a>
</div>
<h4><a href="{{ post.get_absolute_url }}">{{ post.title }}.</a></h4>
<div class="meta-tag">
<span>
<a href="#"><i class="lni-user"></i> {{ post.author }}</a>
</span>
<span>
<a href="#"><i class="lni-map-marker"></i>{{ post.city }}</a>
</span>
</div>
<p class="dsc">{{ post.description }}</p>
<div class="listing-bottom">
<h3 class="price float-left">{{ post.price }} руб.</h3>
<a href="{{ post.get_absolute_url }}" class="btn btn-common float-right">Подробнее</a>
   </div>
  </div>
 </div>
</div>
{% endfor %}

</div>
{% if is_paginated %}
  {% include "ad/pagination.html" %}
{% endif %}

</div>
</section>
{% endblock %}
